{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block link %}
    <li class="nav-item"><a class="nav-link" href="/view">View tickets</a></li>
{% endblock %}

{% block content %}

    <script>
        function EnableDisable(face) {
                //Reference the Button.
                var ticket_num = document.getElementById("ticket_num");
        
                //Verify the TextBox value.
                if (face.value.trim() == "yes") {
                    //Enable the TextBox when TextBox has value.
                    ticket_num.disabled = true;
                } else {
                    //Disable the TextBox when TextBox is empty.
                    ticket_num.disabled = false;
                }
            };
    </script>

    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="full_name" placeholder="Full name" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="student_id" placeholder="Student ID" type="number">
        </div>
        <div class="mb-3">
            <label for="gender">Gender</label>
            <select name="gender">
                <option selected value="Other">Other</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="email" placeholder="VGU email" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="ticket_num" id="ticket_num" placeholder="Number of tickets" type="number" value="1" disabled>
        </div>
        <div class="mb-3">
            <label for="ticket_class">Ticket class</label>
            <select name="ticket_class">
                <option selected disabled>Select class</option>
                <option value="STANDARD">STANDARD</option>
                <option value="VIP">VIP</option>
            </select>
        </div>
        <div>
            <label for="face">Register face</label><br> 
            <input type="checkbox" name="face" id="face" value="yes">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}