{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block link %}
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="student_id" placeholder="Student ID" type="text">
        </div>    
        <button class="btn btn-primary" id="view" type="submit" onclick="show()">View</button>
    </form>
    <div>
        <div id="table" style="display: flex">
            {%for image in image_list%}
            <img src="{{ image }}">
            {%endfor%}
        </div>
    </div>
{% endblock %}